[submodule "talk-python-fixtures"]
	path = talk-python-fixtures
	url = git@github.com:crlane/talk-python-fixtures.git
[submodule "talk-python-encode-decode"]
	path = talk-python-encode-decode
	url = git@github.com:crlane/talk-python-encode-decode.git
[submodule "talk-python-division"]
	path = talk-python-division
	url = git@github.com:crlane/talk-python-division.git
[submodule "talk-python-memory-management"]
	path = talk-python-memory-management
	url = git@github.com:crlane/talk-python-memory-management.git
[submodule "talk-python-packaging"]
	path = talk-python-packaging
	url = git@github.com:crlane/talk-python-packaging.git
[submodule "talk-python-pearls"]
	path = talk-python-pearls
	url = git@github.com:crlane/talk-python-pearls.git
[submodule "talk-python-speed"]
	path = talk-python-speed
	url = git@github.com:crlane/talk-python-speed.git
[submodule "talk-python-string-translation"]
	path = talk-python-string-translation
	url = git@github.com:crlane/talk-python-string-translation.git
[submodule "talk-python-trie"]
	path = talk-python-trie
	url = git@github.com:crlane/talk-python-trie.git
[submodule "talk-python-reverse-engineer"]
	path = talk-python-reverse-engineer
	url = git@github.com:crlane/talk-python-reverse-engineer.git
