[submodule "talk-python-fixtures"]
	path = talk-python-fixtures
	url = git@github.com:crlane/talk-python-fixtures.git
[submodule "talk-python-encode-decode"]
	path = talk-python-encode-decode
	url = git@github.com:crlane/talk-python-encode-decode.git
